@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #f03a47;
    --cor2: #c1bdb3;
    --cor3: #0a369d;
    --cor4: #05f140;
    --cor5: #202a25;

    --fontepri: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fontepri);
    background-color: var(--cor3);
}

header h1 {
    text-align: center;
    background-color: var(--cor1);
    padding: 20px;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    
}

nav a:hover {
    color: white;
}

main {
    margin: auto;
}

.contain {
    display: block;
}

.telao {
    margin: auto;
    max-width: 640px;
    height: 420px;
    background-color: black;
    padding: 20px 50px;

}

.telao img {
    width: 100%;
}

.telao h2 {
    position: absolute;
    display: inline-block;
    top: 68%;
    left: 49.7%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.511);
    padding: 20px 23px 93px 8px;
    font-size: 1.35em;
}

.telao p {
    position: relative;
    bottom: 65px;
    right: -7px;
    color: rgb(255, 255, 255);
}

#outras {
    position: relative;
    bottom: 460px;
    float: right;
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    height: 420px;
    background-color: var(--cor5);
    color: white;
}

#outras h3 {
    margin-top: 35px;
    color: var(--cor4);
    text-align: justify;
}

#outras h3:hover {
    text-decoration: underline;
}

#campf1 {
    display: none;
    max-width: 330px;
    padding: 20px;
    background-color: aqua;
    list-style-position: inside;
}

#campf1 p {
    display: inline-block;
    background-color: gray;
    margin-right: 50px;
}

#campf1 ol{
    background-color: white;
}

#campf1 li {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;

}

#campf1 h2 {
    margin-bottom: 10px;
}

.flag {
    display: inline-block;
    width: 19px;
    height: 11px;
    background-color: transparent;
    margin-right: 10px;
}

span#france {
    background-image: url('../imagens/bandeira-frança.png');
}

span#mexico {
    background-image: url('../imagens/mexico.png');
}

span#espanha {
    background-image: url(../imagens/espanha.png);
    height: 16px;
}

span#UK {
    background-image: url(../imagens/UK.png);
}

@media (max-width: 1450px) {
    .telao {
        display: block;
    }

    #outras {
        display: block;
        position: static;
        float: none;
        max-width: 640px;
        margin: auto;
    }
}