@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #f03a47;
    --cor2: #c1bdb3;
    --cor3: #0a369d;
    --cor4: #05f140;
    --cor5: #202a25;

    --fontepri: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fontepri);
}

header h1 {
    text-align: center;
    background-color: var(--cor1);
    padding: 20px;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    
}


#telao {
    margin: auto;
    width: 74.1%;
    height: 420px;
    background-color: black;

}

#telao img{
    position: relative;
}

#telao h2 {
    position: absolute;
    top: 60%;
    left: 31.4%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.511);
    padding: 20px 23px 74px 6px;
    font-size: 1.35em;
}